
/* 
    Created on : 15/02/2018, 12:36:15
    Author     : suporte
*/
/* laiaute pertencente principal do meio*/
.container-meio{
    height: 100%;
}
.fundo-meio{

}
.corpo{
       height: 87%;
}
/*modifica a parte esquerda*/
.content-esquerdo{
    float: left;
    border-style:  dashed;
    width: 14%;
    height: 101%;
}
.slogan{
       margin-top: -3%;
       height: 9%;
}
.moca{
      height: 22%;
    margin: 8% 14%;
}

.content-direito{
    float:  right;
    border-style:  dashed;
    height: 100%;
    width: 86%;
}
.menu-navegacao{
    border-style:  dashed;
    height: 15%;
}
.content-meio{
    height:  100%;
    width: 100%;
}
.meio{
    float:  left;
    border-style:  dashed;
    height: 86%;
    width: 83%;
}
.menu-direito{
    float:  right;
    border-style:  dashed;
    height: 86%;
    width: 17%;
}
.rodape{

}